*{
	margin: 0;
	padding: 0;
}
.gameContainer
{
	height: 100vh; 
	width: 100%; 
	margin: 0;
}
.videoOver
{
	width: auto; 
	height: 100vh; 
}
.preloader {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  animation-name: loading;
  animation-duration: 18s;
  width: 100%;
}

@keyframes loading {
  0% {z-index:9999; opacity: 100; background: rgb(199, 250, 255);}
  70% {z-index:9999; opacity: 70; background: rgb(239, 200, 223);}
  80% {z-index:9999; opacity: 30; background: rgb(239, 200, 223);}
  90% {z-index:9999; opacity: 0;  background: rgb(255, 255, 255);}
  100% {z-index: -9999; opacity: 0; background: rgb(255, 255, 255);}
}