*{
	margin: 0;
	padding: 0;
}
.gameContainer
{
	height: calc(var(--vh, 1vh) * 100); 
	width: auto; 
	margin: 0;
}
.videoOver
{
	width: auto; 
	height: 100vh; 
}
.preloader {
  align-items: center;
  background: black;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  animation-name: loading;
  animation-duration: 18s;
  width: 100%;
}
.loading-video{
    background-size: cover;
    margin: 0;
}
.h2{
  position: absolute;
  top: 50%;
  left: 50%;
}
@keyframes loading {
  0% {z-index:9999; opacity: 100; }
  70% {z-index:9999; opacity: 70; }
  90% {z-index:9999; opacity: 0;  }
  100% {z-index: -9999; opacity: 0; }
}